
venv/
**/venv/
__pycache__/
*.pyc
.env
**/.env
chroma_db/
**/chroma_db/
*.db
.pytest_cache/
generated_audio/
**/generated_audio/
*.mp3
# Plant Disease Dataset and Models
plant_disease/dataset/
plant_disease/models/
